<!--
    
 @Name：不落阁整站模板源码
 @Author：Absolutely
 @Site：http://www.lyblogs.cn

 -->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>yangleBlog - 关于本站</title>
    <link rel="shortcut icon" href="/images/Logo_40.png" type="image/x-icon">
    <!--Layui-->
    <link href="/plug/layui/css/layui.css" rel="stylesheet" />
    <!--font-awesome-->
    <link href="/plug/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--全局样式表-->
    <link href="/css/home_css/global.css" rel="stylesheet" />
    <!-- 本页样式表 -->
    <link href="/css/about_css/about.css" rel="stylesheet" />
</head>

<body>
    <!-- 导航 -->
    <nav class="blog-nav layui-header">
        <div class="blog-container">
            <!-- 不落阁 -->
            <%if(user){%>
                <a href="javascript:;" class="blog-user upload" style="left: 1020px;">
                    <img src="<%=user.head_portrait%>" alt="<%=user.userName%>" title="<%=user.userName%>" />
                </a>
                <%} else {%>
                    <a href="javascript:;" class="blog-user" style="left: 1020px;">
                        <img src="/images/14O9C292T360-C5X1.jpg" alt="无用户" title="无用户" />
                    </a>
                    <%}%>
                        <!-- 不落阁 -->
                        <a class="blog-logo" href="/home">yangleBlog</a>
                        <!-- 导航菜单 -->
                        <ul class="layui-nav" lay-filter="nav">
                            <li class="layui-nav-item">
                                <a href="/home"><i class="fa fa-home fa-fw"></i>&nbsp;博客首页</a>
                            </li>
                            <li class="layui-nav-item">
                                <a href="/article"><i class="fa fa-file-text fa-fw"></i>&nbsp;留言墙</a>
                            </li>
                            <li class="layui-nav-item">
                                <a href="/resource"><i class="fa fa-tags fa-fw"></i>&nbsp;发表文章</a>
                            </li>
                            <li class="layui-nav-item">
                                <a href="/timeline"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;点点滴滴</a>
                            </li>
                            <li class="layui-nav-item  layui-this">
                                <a href="/about"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
                            </li>
                            <%if(user){%>
                                <li class="layui-nav-item" style="position: relative;
                left: 107px;">
                                    <a href="JavaScript:;">&nbsp;<%=user.userName%></a>
                                    <dl class="layui-nav-child" style="position: absolute;
                    left: -29px;">
                                        <dd><a href="">查看或修改个人信息</a></dd>
                                        <dd><a class="exitLogin">退出登入</a></dd>
                                    </dl>
                                </li>
                                <%} else {%>
                                    <li class="layui-nav-item" style="position: relative;
                left: 107px;">
                                        <button type="button" class="layui-btn layui-btn-normal layui-btn-radius "
                                            id="login">登入</button>
                                    </li>
                                    <%}%>
                        </ul>
                        <!-- 手机和平板的导航开关 -->
                        <a class="blog-navicon" href="javascript:;">
                            <i class="fa fa-navicon"></i>
                        </a>
        </div>
    </nav>
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <div class="blog-container">
            <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a href="/home" title="网站首页">网站首页</a>
                <a><cite>关于本站</cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="layui-tab layui-tab-brief shadow" lay-filter="tabAbout">
                    <ul class="layui-tab-title">
                        <li lay-id="1">关于博客</li>

                    </ul>
                    <div class="layui-tab-content">
                        <div>
                            <div class="aboutinfo">
                                <div class="aboutinfo-figure">
                                    <img src="/images/Logo_40.png" alt="不落阁" width="100px" height="100px" />
                                </div>
                                <p class="aboutinfo-nickname">yangleBlog</p>
                                <p class="aboutinfo-introduce">一个江软区块链学院程序员的个人博客，兄弟姐妹们可以在这里畅所欲言，发表文章等等</p>
                                <hr />
                                <fieldset class="layui-elem-field layui-field-title"></fieldset>
                                <legend>简介</legend>
                                <div class="layui-field-box aboutinfo-abstract">
                                    <p style="text-align:center;">yangleBlog是一个由杨志刚独自完成的博客系统
                                        ，诞生于2021年6月月16日，起劲为止经历了多次大改，暂且称为yangleBlog 1.0</p>
                                    <h1>使用到的技术</h1>
                                    <p>该博客系统的前端用到了bootstarp和layui框架页面布局用到了其栅格网格系统，其中评论功能的富文本框用到了layui的插件layedite。
                                        后端则用了nodejs+express框架，数据全部保存至数据库(用户们不用担心信息泄露哈),密码用了md5进行加密(用户就不用担心我能看到密码啥的了)，当功能完善后我会放到阿里云的服务器给大家使用(同学朋友等有什么有趣的事或想说的话都可以在此分享，但别说我坏话哟，我可是在后台看的到哦，嘻嘻)
                                        后台管理系统是作为管理员的我使用的，基本上都是node+express代码写一些增删改查的方法
                                    </p>
                                    <h1>基本的功能</h1>
                                    <p>
                                        1.用户可以浏览其他用户发表的文章或者我在后台发表的文章<br>
                                        2.用户可以自己发文章<br>
                                        3.用户可以在文章下评论或在别人的评论下回复<br>
                                        4.用户可在“点点滴滴”下的记事本下记录自己有趣的事(我发四绝不偷看，嘻嘻)
                                    </p>
                                    <h1>未来展望</h1>
                                    <p>今后要是有什么好的想法我也会添加功能，由于是第一次做一个完整的项目，肯定会有很多不足或用户体验感不好的地方，大家可以在留言墙留言指出</p>
                                    <h1 style="text-align:center;">The End</h1>
                                </div>
                                </fieldset>
                            </div>
                        </div>
                        <!--留言墙End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <footer class="blog-footer">
        <p><span>Copyright</span><span>&copy;</span><span>2017</span><a href="http://www.lyblogs.cn">不落阁</a><span>Design
                By LY</span></p>
        <p><a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备16029915号-1</a></p>
    </footer>

    <!-- 上传头像 -->
    <form action="/updateImg" method="POST" enctype="multipart/form-data">
        <div class="s_box" id="sbox">
            <div class="ft_img" id="ft_img">
                <img src="<%if (user){ %> <%=user.head_portrait%> <%}else{%>/images/upload_img/01.png<%}%> "
                    class="t_img" />
            </div>
            <div class="header">
                <p>设置头像</p>
                <span class="close" id="close">x</span>
            </div>

            <hr width="80%" color="#e0e0eb" />
            <div class="bt_box">
                <input type="file" name="file0" id="file0" accept="image/*" />
                <a class="gb" href="javascript:" id="hide">关闭</a>
                <input type="submit" class="queren" href="javascript:" id="but" value="保存头像">
            </div>
        </div>
    </form>

    <!--遮罩-->
    <div class="blog-mask animated layui-hide"></div>
    <script src="/js/jquery-3.6.0.js"></script>
    <!-- layui.js -->
    <script src="/plug/layui/layui.js"></script>
    <!-- 全局脚本 -->
    <script src="/js/home_js/global.js"></script>
    <!-- 本页脚本 -->
    <script src="/js/about_js/about.js"></script>
</body>
<script>

</script>

</html>