<!--
    
 @Name：不落阁整站模板源码
 @Author：Absolutely
 @Site：http://www.lyblogs.cn

 -->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>不落阁 - 发表文章</title>
    <!-- 弹出框 -->
    <link rel="shortcut icon" href="/images/Logo_40.png" type="image/x-icon">
    <!--Layui-->
    <link href="/plug/layui/css/layui.css" rel="stylesheet" />
    <!--font-awesome-->
    <link href="/plug/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--全局样式表-->
    <link href="/css/home_css/global.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/resource_css/resource.css">
</head>

<body>
    <!-- 导航 -->
    <nav class="blog-nav layui-header">
        <div class="blog-container">

            <%if(user){%>
                <a href="javascript:;" class="blog-user upload">
                    <img src="<%=user.head_portrait%>" alt="<%=user.userName%>" title="<%=user.userName%>" />
                </a>
                <%} else {%>
                    <a href="javascript:;" class="blog-user">
                        <img src="/images/14O9C292T360-C5X1.jpg" alt="无用户" title="无用户" />
                    </a>
                    <%}%>
                        <!-- 不落阁 -->
                        <a class="blog-logo" href="/home">yangleBlog</a>
                        <!-- 导航菜单 -->
                        <ul class="layui-nav" lay-filter="nav">
                            <li class="layui-nav-item ">
                                <a href="/home"><i class="fa fa-home fa-fw"></i>&nbsp;博客首页</a>
                            </li>
                            <li class="layui-nav-item">
                                <a href="/article"><i class="fa fa-file-text fa-fw"></i>&nbsp;留言墙</a>
                            </li>
                            <li class="layui-nav-item layui-this">
                                <a href="/resource "><i class="fa fa-tags fa-fw"></i>&nbsp;发表文章</a>
                            </li>
                            <li class="layui-nav-item">
                                <a href="/timeline"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;点点滴滴</a>
                            </li>
                            <li class="layui-nav-item">
                                <a href="/about"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
                            </li>
                            <%if(user){%>
                                <li class="layui-nav-item" style="position: relative;
                left: 107px;">
                                    <a href="JavaScript:;">&nbsp;<%=user.userName%></a>
                                    <dl class="layui-nav-child" style="position: absolute;
                    left: -29px;">
                                        <dd><a href="javascript:;" class="upload">修改头像</a></dd>
                                        <dd><a href="">查看或修改个人信息</a></dd>
                                        <dd><a class="exitLogin">退出登入</a></dd>
                                    </dl>
                                </li>
                                <%} else {%>
                                    <li class="layui-nav-item" style="position: relative;
                left: 107px;">
                                        <button type="button" class="layui-btn layui-btn-normal layui-btn-radius "
                                            id="login">登入</button>
                                    </li>
                                    <%}%>
                        </ul>
                        <!-- 手机和平板的导航开关 -->
                        <a class="blog-navicon" href="javascript:;">
                            <i class="fa fa-navicon"></i>
                        </a>
        </div>
    </nav>

    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md12" style="color: royalblue;">
                <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                    <a href="/home" title="网站首页">网站首页</a>
                    <a><cite>发表文章</cite></a>
                </blockquote>
            </div>
        </div>
        <div class="layui-row">
            <form class="layui-form" action="/addArticle" id="form_1">
                <div class="blog-module shadow" style="box-shadow: 0 1px 8px #a6a6a6;">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-bottom:0">

                        <div class="layui-form-item">
                            <label class="layui-form-label">文章标题:</label>
                            <div class="layui-input-block" style="width: 200px;">
                                <input type="text" name="title" required lay-verify="required" placeholder="请输入标题"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">关键词:</label>
                            <div class="layui-input-block" style="width: 200px;">
                                <input type="text" name="keywords" required lay-verify="required"
                                    placeholder="请输入关于文章的关键词" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">文章内容:</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" class="layui-textarea layui-input" name="content"
                                    style="height: 360px;"></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">发布</button>
                            </div>
                        </div>

                </div>
                </fieldset>
        </div>

        </form>
    </div>

    <!-- 底部 -->
    <footer class="blog-footer">
        <div><span>江西软件职业技术大学区块链学院</span></div>
        <div><span>开始于2021年4月14日星期三</span></div>
    </footer>

    <!-- 上传头像 -->
    <form action="/updateImg" method="POST" enctype="multipart/form-data">
        <div class="s_box" id="sbox">
            <div class="ft_img" id="ft_img">
                <img src="<%if (user){ %> <%=user.head_portrait%> <%}else{%>/images/upload_img/01.png<%}%> "
                    class="t_img" />
            </div>
            <div class="header">
                <p>设置头像</p>
                <span class="close" id="close">x</span>
            </div>

            <hr width="80%" color="#e0e0eb" />
            <div class="bt_box">
                <input type="file" name="file0" id="file0" accept="image/*" />
                <a class="gb" href="javascript:" id="hide">关闭</a>
                <input type="submit" class="queren" href="javascript:" id="but" value="保存头像">
            </div>
        </div>
    </form>
    <!-- 弹出框 -->
    <script src="/js/jquery-3.6.0.js"></script>
    <!--遮罩-->
    <!-- <div class="blog-mask animated layui-hide"></div> -->
    <!-- layui.js -->
    <script src="/plug/layui/layui.js"></script>
    <!-- 全局脚本 -->
    <script src="/js/home_js/global.js"></script>
    <script src="/js/layedite_js/layedite.js"></script>
    <script>
        $('#form_1').on('submit', function (e) {
            e.preventDefault()
            let formData = $(this).serialize()
            $.ajax({
                type: 'post',
                url: '/addAticle',
                dataType: 'json',
                data: formData,
                success: (data) => {
                    if (data.code == "1") {
                        alert("请先登入后再发表")
                    } else if (data.code == "0") {
                        alert('发布成功')
                        window.location.href = "/home"
                    }
                },
                error: (err) => {
                    console.log(err)
                }

            })
        })
    </script>

</body>

</html>